/* Navbar.css */

.navbar {
  background-color: rgb(255, 255, 255);
  height: 64px;
  width: 100%;
  position: fixed;
  top: 0;
  padding: 10px;
  left: 0;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.navbar-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}

.navbar-logo img {
  height: 48px;
  max-height: 48px;
  cursor: pointer;
}

.nav-menu {
  list-style: none;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.nav-item {
  display: inline-block;
}


.nav-link {
  text-decoration: none;
  color: #282828;
  font-weight: 510;
  transition: color 0.3s ease;
  position: relative;
}

.nav-link.active {
  color: #bc3aab;
  font-weight: 700;
  background:  #bb00a2 ;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link:hover {
  color: #bc3aab;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.icon {
  width: 25px;
  height: 2px;
  background-color: #333;
  position: relative;
  transition: all 0.3s ease-in-out;
}

.icon::before,
.icon::after {
  content: "";
  width: 25px;
  height: 2px;
  background-color: #333;
  position: absolute;
  transition: all 0.3s ease-in-out;
}

.icon::before {
  top: -8px;
}

.icon::after {
  top: 8px;
}

.icon.open {
  background-color: transparent;
}

.icon.open::before {
  transform: rotate(45deg);
  top: 0;
}

.icon.open::after {
  transform: rotate(-45deg);
  top: 0;
}

@media screen and (max-width: 900px) {
  .navbar-container {
    padding: 0 0.5rem;
  }
  .nav-menu {
    gap: 18px;
  }
  .navbar-logo img {
    height: 40px;
    max-height: 40px;
  }
}

@media screen and (max-width: 768px) {
  .nav-menu {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100vw;
    gap: 30px;
    flex-direction: column;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
    box-sizing: border-box;
  }

  .nav-menu.active {
    max-height: 900px;
    padding: 1rem 0;
    color: #8c52ff;
  }

  .nav-item {
    text-align: center;
    padding: 0.5rem 0;
  }

  .menu-icon {
    display: block;
  }
}
