.footer {
  background-color: #ffffff;
  color: #000000;
  padding: 40px 20px 0;
  /* display: flex; */
  flex-direction: column;
  justify-content: space-between;
  min-height: 250px;
  position: relative;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin: 0 auto;
}

.footer-left {
  flex: 1;
  min-width: 250px;
}

.footer-links {
  flex: 1;
  min-width: 200px;
}

.footer-logo {
  width: 150px;
}

.footer-desc {
  font-size: 0.9rem;
  margin-bottom: 30px;
  color: #060606;
}

.footer-socials a {
  margin-right: 30px;
  font-size: 1.2rem;
  color: #000000;
  transition: 0.3s;
}

.footer-socials a:hover {
  color: #8c52ff;
}

.footer-links h4 {
  margin-bottom: 12px;
  font-size: 1rem;
}

.footer-links ul {
  list-style: none;
  padding: 0;
}

.footer-links ul li {
  margin-bottom: 15px;
}

.footer-links ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 0.9rem;
  transition: 0.3s;
}

.footer-links ul li a:hover {
  color: #8c52ff;
}

.footer-bottom {
  text-align: center;
  padding: 20px 0;
  font-size: 0.85rem;
  color: #000000;
  border-top: 1px solid #222;
  margin-top: 30px;
}
